@value brand: '../../brand.module.css';
@value active, dark, border, borderRadiusLg, selected, white, disabled from brand;

/* @value sideBarWidth: 250px; */

@value sizes: '../../screenSizes.module.css';
@value screenSizePhoneSmall, screenSizePhoneMedium, screenSizePhoneLarge, screenSizeDesktopSmall, screenSizeDesktopMedium, screenSizeDesktopLarge from sizes;


.navbar {
  /* width: sideBarWidth;
  max-width: 25%; */
  /* height: calc(100% - 107px); */
  /* padding: 25px; */
  background-color: dark;
  border: 1px solid border;
  /* border-radius: 0 0 0 borderRadiusLg; */
}

:global .navbar a.is-active {
  background-color: active;
}

:global .navbar .navbar-item.has-dropdown:hover > a {
  background: active;
  color: white;
}

:global .navbar .navbar-dropdown a {
  color: active
}

:global .navbar a {
  color: white;
}

:global .navbar a:hover {
  color: white;
  background-color: selected;
}

:global .navbar .menu-label {
  color: disabled;
}

@media screen and (max-width: screenSizeDesktopMedium) {

  .navbar a {
    color: active;
  }

  .navbar a:hover {
    color: black;
    background: whitesmoke;
  }
}
