@value brand: './brand.module.css';
@value border, background, borderRadiusLg from brand;

@value sizes: './screenSizes.module.css';
@value screenSizePhoneSmall, screenSizePhoneMedium, screenSizePhoneLarge, screenSizeDesktopSmall, screenSizeDesktopMedium, screenSizeDesktopLarge from sizes;

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vh;
  min-height: 100vh;
  background-color: #21252b;
  background-image: url(/stardust.png);
  background-repeat: repeat;
}

.container {
  width: 1100px;
  max-width: 90%;
  margin: 50px 0;
  background-color: background;

  border: 1px solid border;
  border-radius: borderRadiusLg;
}

@media screen and (max-width: screenSizePhoneLarge) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
  }
}
