/*
******** RESET *********
**/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
******** FONTS *********
*/

/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */
@font-face {
  font-weight: 900;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Black.otf');
}

/** Bold */
@font-face {
  font-weight: 700;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Bold.otf');
}

/** Heavy */
@font-face {
  font-weight: 800;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Heavy.otf');
}

/** Light */
@font-face {
  font-weight: 200;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Light.otf');
}

/** Medium */
@font-face {
  font-weight: 500;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Medium.otf');
}

/** Regular */
@font-face {
  font-weight: 400;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Regular.otf');
}

/** Semibold */
@font-face {
  font-weight: 600;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Semibold.otf');
}

/** Thin */
@font-face {
  font-weight: 300;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Thin.otf');
}

/** Ultralight */
@font-face {
  font-weight: 100;
  font-family: 'SF Display';
  src: url('https://sf.abarba.me/SF-UI-Display-Ultralight.otf');
}

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-weight: 700;
  font-family: 'SF Text';
  src: url('https://sf.abarba.me/SF-UI-Text-Bold.otf');
}

/** Bold Italic */
@font-face {
  font-weight: 700;
  font-family: 'SF Text';
  font-style: italic;
  src: url('https://sf.abarba.me/SF-UI-Text-BoldItalic.otf');
}

/** Heavy */
@font-face {
  font-weight: 800;
  font-family: 'SF Text';
  src: url('https://sf.abarba.me/SF-UI-Text-Heavy.otf');
}

/** Heavy Italic */
@font-face {
  font-weight: 800;
  font-family: 'SF Text';
  font-style: italic;
  src: url('https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf');
}

/** Light */
@font-face {
  font-weight: 200;
  font-family: 'SF Text';
  src: url('https://sf.abarba.me/SF-UI-Text-Light.otf');
}

/** Light Italic */
@font-face {
  font-weight: 200;
  font-family: 'SF Text';
  font-style: italic;
  src: url('https://sf.abarba.me/SF-UI-Text-LightItalic.otf');
}

/** Medium */
@font-face {
  font-weight: 500;
  font-family: 'SF Text';
  src: url('https://sf.abarba.me/SF-UI-Text-Medium.otf');
}

/** Medium Italic */
@font-face {
  font-weight: 500;
  font-family: 'SF Text';
  font-style: italic;
  src: url('https://sf.abarba.me/SF-UI-Text-MediumItalic.otf');
}

/** Regular */
@font-face {
  font-weight: 400;
  font-family: 'SF Text';
  src: url('https://sf.abarba.me/SF-UI-Text-Regular.otf');
}

/** Regular Italic */
@font-face {
  font-weight: 400;
  font-family: 'SF Text';
  font-style: italic;
  src: url('https://sf.abarba.me/SF-UI-Text-RegularItalic.otf');
}

/** Semibold */
@font-face {
  font-weight: 600;
  font-family: 'SF Text';
  src: url('https://sf.abarba.me/SF-UI-Text-Semibold.otf');
}

/** Semibold Italic */
@font-face {
  font-weight: 600;
  font-family: 'SF Text';
  font-style: italic;
  src: url('https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf');
}

/** Ultrathin */
@font-face {
  font-weight: 100;
  font-family: 'SF Text';
  src: url('https://sf.abarba.me/SF-UI-Text-Ultrathin.otf');
}

/** Ultrathin Italic */
@font-face {
  font-weight: 100;
  font-family: 'SF Text';
  font-style: italic;
  src: url('https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf');
}

/*---------------------------------------------------------------------------*
 * SF Mono
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-weight: 700;
  font-family: 'SF Mono';
  src: url('https://sf.abarba.me/SFMono-Bold.otf');
}

/** Bold Italic */
@font-face {
  font-weight: 700;
  font-family: 'SF Mono';
  font-style: italic;
  src: url('https://sf.abarba.me/SFMono-BoldItalic.otf');
}

/** Heavy */
@font-face {
  font-weight: 800;
  font-family: 'SF Mono';
  src: url('https://sf.abarba.me/SFMono-Heavy.otf');
}

/** Heavy Italic */
@font-face {
  font-weight: 800;
  font-family: 'SF Mono';
  font-style: italic;
  src: url('https://sf.abarba.me/SFMono-HeavyItalic.otf');
}

/** Light */
@font-face {
  font-weight: 200;
  font-family: 'SF Mono';
  src: url('https://sf.abarba.me/SFMono-Light.otf');
}

/** Light Italic */
@font-face {
  font-weight: 200;
  font-family: 'SF Mono';
  font-style: italic;
  src: url('https://sf.abarba.me/SFMono-LightItalic.otf');
}

/** Medium */
@font-face {
  font-weight: 500;
  font-family: 'SF Mono';
  src: url('https://sf.abarba.me/SFMono-Medium.otf');
}

/** Medium Italic */
@font-face {
  font-weight: 500;
  font-family: 'SF Mono';
  font-style: italic;
  src: url('https://sf.abarba.me/SFMono-MediumItalic.otf');
}

/** Regular */
@font-face {
  font-weight: 400;
  font-family: 'SF Mono';
  src: url('https://sf.abarba.me/SFMono-Regular.otf');
}

/** Regular Italic */
@font-face {
  font-weight: 400;
  font-family: 'SF Mono';
  font-style: italic;
  src: url('https://sf.abarba.me/SFMono-RegularItalic.otf');
}

/** Semibold */
@font-face {
  font-weight: 600;
  font-family: 'SF Mono';
  src: url('https://sf.abarba.me/SFMono-Semibold.otf');
}

/** Semibold Italic */
@font-face {
  font-weight: 600;
  font-family: 'SF Mono';
  font-style: italic;
  src: url('https://sf.abarba.me/SFMono-SemiboldItalic.otf');
}
