@value brand: '../../brand.module.css';
@value active, dark, border, white, disabled, selected from brand;

.heading {
  composes: heading from brand;
}

:global .container {
  /* display: flex;
  flex-direction: row; */
}

:global .tagsSection:first-of-type{
  /* flex: 1; */
  /* padding-right: 10px; */
  padding-bottom: 1rem;
}

:global .tagsSection:last-of-type{
  /* flex: 3; */
}

.panel {
  background-color: dark;
}

.panelHeading {
  color: disabled;
  background-color: dark;
}

.panelBlock:not(:last-child), .panelTabs:not(:last-child) {
  border-bottom-color: border;
}

.panelBlock {
  color: white;
}

.panelBlock:global.is-active,
.panelBlock:global.is-active .panel-icon {
  color: selected
}

.panelTabs a {
  border-bottom-color: border;
  color: active;
}

.panelTabs a:global.is-active {
  color: selected;
  border-bottom-color: selected
}

.panelTabs a:hover {
  color: white;
}

:global Button.button.is-success.is-outlined {
  visibility: hidden;
  opacity: 0;
  margin-left: auto;
  transition: all .25s;
}

.panelBlock:global:hover {
  cursor: pointer;
}

.panelBlock:global:last-child Button.button.is-primary.is-outlined {
  color: disabled;
  border-color: disabled;
}

.panelBlock:global:last-child Button.button.is-primary.is-outlined:hover {
  color: white;
  border-color: active;
  background-color: active;
}

.panelBlock:global:hover Button.button.is-success.is-outlined {
  visibility: visible;
  opacity: 1;

}

:global .tagsSection:last-of-type {
  /* max-width: 71%; */
}
