@value brand: '../../brand.module.css';
@value dark, border, white, disabled, selected from brand;

.heading {
  composes: heading from brand;
}

.panel {
  background-color: dark;
}

.panelHeading {
  color: disabled;
  background-color: dark;
}

.panelBlock:not(:last-child), .panelTabs:not(:last-child) {
  border-bottom-color: border;
}

.panelBlock {
  color: white;
}

.panelBlock:global.is-active,
.panelBlock:global.is-active .panel-icon {
  color: selected
}

.panelTabs a {
  border-bottom-color: border
}

.panelTabs a:global.is-active {
  color: selected;
  border-bottom-color: selected
}

.panelTabs a:hover {
  color: white;
}
